.button-container button{
    width: 45px;
    height: 20px;
    left: 297px;
    top: 215px;
    background-color: red;
    font-family: 'Readex Pro';
    font-family: 'Readex Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #FFFFFF;
}
